.features-section {
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}
.list-features {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;

    -webkit-box-align: start;
    -ms-flex-align: start;
  }
}
.features .item.item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 30px * 3) / 4);
    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
}
.features-img {
  background-color: $secondary-bg-color;

  // display: block;
  // margin-bottom: 30px;
  // width: 270px;
  // width: 450px;
  // height: 120px;
  // border-radius: 4px;

  padding: 25px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
  border-radius: 4px;
  height: 120px;
}
.features-title {
  color: $title-text-color;
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.features-text {
  color: $primary-text-color;
  margin-bottom: 0;
  line-height: 1.71;
}
