.features-section {
  padding-bottom: 60px;
}
.features {
  // display: flex;
}
.features .item.item:not(:last-child) {
  // margin-right: 30px;
  margin-bottom: 30px;
}
.features-img {
  background-color: $secondary-bg-color;

  display: block;
  margin-bottom: 30px;
  // width: 270px;
  width: 450px;
  height: 120px;
  border-radius: 4px;
  padding: 25px 100px;
}
.features-title {
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;
  color: $title-text-color;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}
.features-text {
  color: $primary-text-color;
  margin-bottom: 0;
  line-height: 1.71;
}
