.page-header {
  position: relative;
  height: 60px;

  @media screen and (min-width: 768px) {
    height: 80px;
  }
}
.menu-button {
  background-color: transparent;
  border: none;
  display: inline-flex;
  align-self: center;
  margin: 0;
  padding: 0;
  fill: currentColor;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: #2196f3;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-button .icon-op {
  display: none;
}
.menu-button.is-open .icon-op {
  display: block;
}
.menu-button.is-open .icon-cl {
  display: none;
}
.menu {
  width: 480px;
  margin: 0;
  text-align: center;
  display: none;
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 0;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  border-top: 1px solid #ececec;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 4px 8px rgba(0, 0, 0, 0.04);

  &.is-open {
    display: block;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}

.logo {
  color: $title-text-color;
  font-family: 'Raleway', cursive;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;

  @media screen and (min-width: 1200px) {
  }
}
.logo-accent {
  color: $ptimary-blue-color;
}
// NAVIGATION
.main-nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  min-height: 60px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.site-nav-link--current {
  position: relative;
  color: $ptimary-blue-color;

  &::before {
    background-color: $ptimary-blue-color;
    border-radius: 2px;
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
  }
}
.site-nav {
  display: flex;
  margin-left: 85px;
}
.site-nav .link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  color: $title-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $ptimary-blue-color;
  }
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.contacts-nav {
  display: flex;
  margin-left: auto;
}
.contacts-nav .link {
  padding-bottom: 32px;
  padding-top: 32px;
  justify-content: center;
  display: block;
  color: $primary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $ptimary-blue-color;
  }
}
.contacts-nav .item:not(:last-child) {
  margin-right: 30px;
}
.icon-nav {
  fill: $primary-text-color;
  fill: currentColor;
  display: inline-flex;
  margin-right: 10px;
  vertical-align: middle;
  justify-content: center;

  &:hover,
  &:focus {
    fill: $ptimary-blue-color;
  }
}
